@font-face {
    src: url('../fonts/Aleo-Bold.ttf');
    font-family: Aleo-Bold;
}
@font-face {
    src: url('../fonts/AntDesign.ttf');
    font-family: AntDesign;
}
@font-face {
    src: url('../fonts/DasaSans-Bold.ttf');
    font-family: DasaSans-Bold;
}
@font-face {
    src: url('../fonts/DasaSans-BoldItalic.ttf');
    font-family: DasaSans-BoldItalic;
}
@font-face {
    src: url('../fonts/DasaSans-Italic.ttf');
    font-family: DasaSans-Italic;
}
@font-face {
    src: url('../fonts/DasaSans-Light.ttf');
    font-family: DasaSans-Light;
}
@font-face {
    src: url('../fonts/DasaSans-LightItalic.ttf');
    font-family: DasaSans-LightItalic;
}
@font-face {
    src: url('../fonts/DasaSans-Medium.ttf');
    font-family: DasaSans-Medium;
}
@font-face {
    src: url('../fonts/DasaSans-MediumItalic.ttf');
    font-family: DasaSans-MediumItalic;
}
@font-face {
    src: url('../fonts/DasaSans-Regular.ttf');
    font-family: DasaSans-Regular;
}
@font-face {
    src: url('../fonts/DasaSans-Semibold.ttf');
    font-family: DasaSans-Semibold;
}
@font-face {
    src: url('../fonts/DasaSans-SemiboldItalic.ttf');
    font-family: DasaSans-SemiboldItalic;
}
@font-face {
    src: url('../fonts/Entypo.ttf');
    font-family: Entypo;
}
@font-face {
    src: url('../fonts/EvilIcons.ttf');
    font-family: EvilIcons;
}
@font-face {
    src: url('../fonts/Feather.ttf');
    font-family: Feather;
}
@font-face {
    src: url('../fonts/FontAwesome.ttf');
    font-family: FontAwesome;
}
@font-face {
    src: url('../fonts/FontAwesome5_Brands.ttf');
    font-family: FontAwesome5_Brands;
}
@font-face {
    src: url('../fonts/FontAwesome5_Regular.ttf');
    font-family: FontAwesome5_Regular;
}
@font-face {
    src: url('../fonts/FontAwesome5_Solid.ttf');
    font-family: FontAwesome5_Solid;
}
@font-face {
    src: url('../fonts/Foundation.ttf');
    font-family: Foundation;
}
@font-face {
    src: url('../fonts/Ionicons.ttf');
    font-family: Ionicons;
}
@font-face {
    src: url('../fonts/Lato-Bold.ttf');
    font-family: Lato-Bold;
}
@font-face {
    src: url('../fonts/Lato-Regular.ttf');
    font-family: Lato-Regular;
}
@font-face {
    src: url('../fonts/MaterialCommunityIcons.ttf');
    font-family: MaterialCommunityIcons;
}
@font-face {
    src: url('../fonts/MaterialIcons.ttf');
    font-family: MaterialIcons;
}
@font-face {
    src: url('../fonts/Octicons.ttf');
    font-family: Octicons;
}
@font-face {
    src: url('../fonts/OpenSans-Bold.ttf');
    font-family: OpenSans-Bold;
}
@font-face {
    src: url('../fonts/OpenSans-BoldItalic.ttf');
    font-family: OpenSans-BoldItalic;
}
@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-family: OpenSans-ExtraBold;
}
@font-face {
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
    font-family: OpenSans-ExtraBoldItalic;
}
@font-face {
    src: url('../fonts/OpenSans-Italic.ttf');
    font-family: OpenSans-Italic;
}
@font-face {
    src: url('../fonts/OpenSans-Light.ttf');
    font-family: OpenSans-Light;
}
@font-face {
    src: url('../fonts/OpenSans-LightItalic.ttf');
    font-family: OpenSans-LightItalic;
}
@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: OpenSans-Regular;
}
@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-family: OpenSans-SemiBold;
}
@font-face {
    src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
    font-family: OpenSans-SemiBoldItalic;
}
@font-face {
    src: url('../fonts/OpenSans.ttf');
    font-family: OpenSans;
}
@font-face {
    src: url('../fonts/OpenSans.ttf');
    font-family: "Open Sans";
}
@font-face {
    src: url('../fonts/SimpleLineIcons.ttf');
    font-family: SimpleLineIcons;
}
@font-face {
    src: url('../fonts/Zocial.ttf');
    font-family: Zocial;
}
